.DS_Store
g:q
*.bbl
*.blg
*.aux*
*.swp
*.bcf
*.run.xml
*.pdf
 *.loc
 *.soc
 *.swo
 log/
 
 # Beamer
 *.nav1,Top1   .DS_Store
q.tex
*.log
*.bbl
*.blg
*.aux*
*.swp
*.bcf
*.run.xml
*.pdf
*.loc
*.soc
*.swo
log/

# Beamer 
*.nav
*.out
*.snm
*.toc

#*#
*~
